@import "./fonts.css";

.emails__input {
  height: 96px;
  padding: 4px;
  background: #ffffff;
  border: 1px solid #c3c2cf;
  box-sizing: border-box;
  border-radius: 4px;
  overflow-y: auto;
  &-input {
    width: 124px;
    font-size: 14px;
    line-height: 24px;
    font-family: "Open Sans";
    border: none;
  }
}

.emails-item {
  position: relative;
  display: inline-block;
  padding: 0 12px 0 10px;
  font-size: 14px;
  background: rgba(102, 153, 255, 0.2);
  color: #050038;
  line-height: 24px;
  border-radius: 100px;
  margin: 4px;
  &__value {
    display: flex;
  }
  &__delete {
    font-size: 18px;
    margin-left: 8px;
    cursor: pointer;
  }
  &--invalid {
    background-color: transparent;
    border-bottom: 1px dashed #d92929;
    border-radius: 0;
  }
}
